@model IEnumerable<SportGames.Models.Player>


@{
    ViewBag.Title = "Index";
}

<h2>Players</h2>

<p>

     @if (User.IsInRole("Admin")){
    @Html.ActionLink("Create New", "Create", null, new { @style = "color:white;" })

 }

    @using (Html.BeginForm("Index", "Players", FormMethod.Get))
    {
        @Html.TextBox("name", "", new { placeholder = "Name of the player" })
        @Html.TextBox("team", "", new { placeholder = "Team" })
        @Html.TextBox("age", "", new { placeholder = "Age of the player" })<input type="submit" value="Search" />




    }

</p>
<table class="table">
    <tr>
        <th>
            Team

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th></th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr>
            <td>
                No Match Any Document
            </td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Team.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>


                    @Html.ActionLink("Edit", "Edit", new { id = item.PlayerId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PlayerId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PlayerId })


                </td>
            }
        </tr>

        }
    }
    

</table>
<script>
    $(function () {

        $("#name,#team,#age").keyup(function (e) {
            var n = $("#name").val();
            var t = $("#team").val();
            var a = $("#age").val();
            $.get("/Players/Index?name=" + n + "&team=" + t + "&age="+a, function (r) {
                //update ui with results
                $("#resultsTable").html(r);
            });

        });

    });
</script>