@model IEnumerable<SportGames.Models.League>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameOfLeague)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameOfLeague)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.LeagueId }) |
            @Html.ActionLink("Details", "Details", new { id = item.LeagueId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.LeagueId }) |
            @Html.ActionLink("view", "LeagueData", new { id = item.LeagueId })
        </td>
    </tr>
}

</table>
