@model SportGames.Models.TeamLeague

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
@{ 
    var team = ViewBag.Team;
    var league = ViewBag.League;
}
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TeamLeague</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.League.NameOfLeague)
        </dt>

        <dd>
            @league.NameOfLeague
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team.Name)
        </dt>

        <dd>
            @team.Name
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", null, new { @style = "color:white;" })
        </div>
    }
</div>
