@model IEnumerable<SportGames.Models.TeamLeague>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @style = "color:white;" })
</p>

@using (Html.BeginForm("Index", "TeamLeagues", FormMethod.Get))
{
    @Html.TextBox("NameofLeague", "", new { placeholder = "Name of League", @style = "color:black;" })
    @Html.TextBox("NameOfTeam", "", new { placeholder = "Name Of Team", @style = "color:black;" })<input class="search-input" type="submit" style='color:black' value="Search" />

}



<table class="table">
    <tr>
        <th>
            Name Of League
        </th>
        <th>
            Name Of Team
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.League.NameOfLeague)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { idT = item.TeamId, idL = item.LeagueId }, new { @style = "color:white;" }) |
                @Html.ActionLink("Details", "Details", new { idT=item.TeamId,idL=item.LeagueId }, new { @style = "color:white;" }) |
                @Html.ActionLink("Delete", "Delete", new { idT = item.TeamId, idL = item.LeagueId }, new { @style = "color:white;" })
            </td>
        </tr>
    }

</table>
